-r requirements/optional.txt
-r requirements/runtime.txt
-r requirements/tests.txt
-r requirements/multimodal.txt
mmcv>=2.0.0
mmengine>=0.7.0
torch>=1.12.0
torchvision>=0.13.0
matplotlib
numpy
packaging
prettytable
scipy
opencv-python>=4.5
tqdm
ninja
einops==0.6.1